---
layout: default
title: Home
description:
isHome: true
---
<style>
    .loading-overlay--active {
        background-color: #0B0;
    }
</style>

<script src="dist/angular/angular.js"></script>
<script src="dist/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="http://localhost:3000/dist/angular-loading-overlay.js"></script>
<script>
    var app = angular.module('app', [
        'bsLoadingOverlay',
        'ui.bootstrap'
    ]);


    app.controller('controllerWithDelay', function ($scope, bsLoadingOverlayService) {
        $scope.showOverlay = function (referenceId) {
            bsLoadingOverlayService.start({
                referenceId: referenceId
            });
        };

        $scope.hideOverlay = function (referenceId) {
            bsLoadingOverlayService.stop({
                referenceId: referenceId
            });
        }
    });
</script>

<section class="bs-docs-section" ng-app="app">
    <h1 id="examples" class="page-header">Examples</h1>

    <h2 id="global" class="page-header">Global</h2>

    <div class="bs-example">
        {% include example.html id="global" %}
    </div>

    <h2 id="with-reference" class="page-header">With reference</h2>

    <div class="bs-example">
        {% include example.html id="with-reference" %}
    </div>

    <h2 id="class" class="page-header">Class</h2>

    <div class="bs-example">
        {% include example.html id="class" %}
    </div>

    <h2 id="delay" class="page-header">Hide with delay</h2>

    <p>
        To reduce flickering of loading overlay on possibly fast async actions you can add minimal delay to hide
        overlay.
    </p>

    <div class="bs-example">
        {% include example.html id="delay" %}
    </div>

    <h2 id="handler" class="page-header">Handler</h2>

    <p>
        To reduce duplication you can create preconfigured handler for your overlay.
        Then the overlay can be started with simple function call, without options.
    </p>

    <div class="bs-example">
        {% include example.html id="handler" %}
    </div>

    <h2 id="wrapper" class="page-header">Wrapper</h2>

    <p>
        You can wrap any promise with `wrap` function
        and then the overlay start function will be called right after the wrap call
        and stop function will be called on promese resolved or rejected.
        A function can be also wrapped with handler (`handler.wrap(somePromiseHere)`).
    </p>

    <div class="bs-example">
        {% include example.html id="wrapper" %}
    </div>

    <h2 id="wrapper-function" class="page-header">Wrapper of function returning promise</h2>

    <p>
        The same as above, except that you also can wrap function that returns a promise.
    </p>

    <div class="bs-example">
        {% include example.html id="wrapper-function" %}
    </div>

</section>
