---
layout: default
title: Home
description:
isHome: true
---
{% comment %}
<html>
<head>
    <meta http-equiv="refresh" content="0; url=http://bsalex.github.io/angular-loading-overlay/_site/"/>
</head>
</html>>
{% endcomment %}

<style>
    .loading-overlay--active {
        background-color: #0B0;
    }
</style>

<script src="dist/angular/angular.js"></script>
<script src="dist/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay/master/dist/angular-loading-overlay.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay-spinjs/master/dist/angular-loading-overlay-spinjs.js"></script>

<section class="bs-docs-section">
    <h1 id="introduction" class="page-header">Introduction</h1>

    <p class="lead">
        The module provides your application with loading overlays to indicate async operations.
        It is designed to reduce code duplication in controllers and views of your angular application.
    </p>

    <p class="lead">
        Inspired by <a href="https://github.com/JanStevens/angular-growl-2">angular-growl-2</a>
    </p>
</section>
<section class="bs-docs-section">
    <h1 id="options" class="page-header">Options</h1>

    <p>
        The module provides 2 levels of configuration:
    <ul>
        <li>Global configuration level</li>
        <li>Directive configuration level</li>
    </ul>
    </p>

    <h2 id="global-configuration">
        Global configuration
    </h2>

    <p>
        Global configuration is applied to all directives by default.
        It provides the following options:
        {% highlight javascript %}
        {% include global-configuration.js %}
        {% endhighlight %}
    </p>

    <h2 id="directive-configuration">
        Directive configuration
    </h2>

    <p>
        Directive configuration overrides global configuration and provides the following options:
    <dl class="bs-docs-dl">
        <dt>bs-loading-overlay-reference-id</dt>
        <dd>Reference id for the overlay. When it is used in start, wrap or createHandler options - only this overlay is
            activated. undefined by default.
        </dd>
        <dt>bs-loading-overlay-active-class</dt>
        <dd>Class that is added to the current div when overlay is activated. empty by default.
        </dd>
        <dt>bs-loading-overlay-template-url</dt>
        <dd>Template url for the element created inside this div when the overlay is activated.
        </dd>
    </dl>
    </p>
</section>
<section class="bs-docs-section app">
    <h1 id="examples" class="page-header">Examples</h1>

    <h2 id="global" class="page-header">Global</h2>

    <p>
        If reference id is not passed to start function -
        then all loaders which don't have specified reference id are triggered.
    </p>

    <div class="bs-example">
        {% include example.html id="global" %}
    </div>

    <h2 id="with-reference" class="page-header">With reference</h2>

    <p>
        If reference id is passed to start function -
        then only overlays with specified ids are triggered.
    </p>

    <div class="bs-example">
        {% include example.html id="with-reference" %}
    </div>

    <p>
        Or it can be passed with directive name attribute
    </p>

    <div class="bs-example">
        {% include example.html id="with-reference-in-name-attribute" %}
    </div>

    <h2 id="class" class="page-header">Class</h2>

    <p>
        If templateUrl is not specified in global config and in start option and in directive attributes
        - then no overlay element is created.
    </p>

    <p>
        On the other hand you can pass active class to directive or start function. In this case the class is added
        directly to the element where overlay directive is applied.
    </p>

    <div class="bs-example">
        {% include example.html id="class" %}
    </div>

    <h2 id="delay" class="page-header">Hide with delay</h2>

    <p>
        To reduce flickering of loading overlay on possibly fast async actions you can add minimal delay to hide
        overlay.
    </p>

    <div class="bs-example">
        {% include example.html id="delay" %}
    </div>

    <h2 id="handler" class="page-header">Handler</h2>

    <p>
        To reduce duplication you can create preconfigured handler for your overlay.
        Then the overlay can be started with simple function call, without options.
    </p>

    <div class="bs-example">
        {% include example.html id="handler" %}
    </div>

    <h2 id="wrapper" class="page-header">Wrapper</h2>

    <p>
        You can wrap any promise with `wrap` function
        and then the overlay start function will be called right after the wrap call
        and stop function will be called on promese resolved or rejected.
        A promise can also be wrapped with handler (`handler.wrap(somePromiseHere)`).
    </p>

    <div class="bs-example">
        {% include example.html id="wrapper" %}
    </div>

    <h2 id="wrapper-function" class="page-header">Wrapper of function returning promise</h2>

    <p>
        The same as above, except that you also can wrap a function that returns a promise.
    </p>

    <div class="bs-example">
        {% include example.html id="wrapper-function" %}
    </div>

</section>

<section class="bs-docs-section appWithSpinJs">
    <h1 id="examples-spinjs" class="page-header">Examples of integration with Spin.js <a href="http://spin.js.org/" target="_blank">Spin.js</a></h1>

    <h2 id="global-spinjs" class="page-header">Global</h2>

    <p>
        To use default Spin.js integration with default options:
        <ul>
            <li>
                Install <a href="#" target="_blank">angular-loading-overlay-spinjs</a> package. <br />
                <code>npm install angular-loading-overlay-spinjs</code>
            </li>
            <li>
                Add <code>node_modules/angular-loading-overlay-spinjs/dist/angular-loading-overlay-spinjs.js</code> script to your page
            </li>
            <li>
                Add <code>bsLoadingOverlaySpinJs</code> dependency to your app module
            </li>
            <li>
                Set global option <code>templateUrl</code> to <code>bsLoadingOverlaySpinJs</code> in your app module run block
            </li>
        </ul>
    </p>

    <div class="bs-example">
        {% include example.html id="global-spinjs" %}
    </div>

    <h2 id="spinjs-options" class="page-header">With options</h2>

    <p>
        You can customize the spinner with options from <a href="http://spin.js.org/" target="_blank">Spin.js</a> site,
        providing options to <code>bs-loading-overlay-template-options</code> attribute.
    </p>

    <div class="bs-example">
        {% include example.html id="spinjs-options" %}
    </div>

    <h2 id="global-spinjs-options" class="page-header">With global options</h2>

    <p>
        Also you can specify <a href="http://spin.js.org/" target="_blank">Spin.js</a> options globally in your
        app module run block.
    </p>

    <div class="bs-example">
        {% include example.html id="global-spinjs-options" %}
    </div>
</section>

<section class="bs-docs-section">
    <h1 id="changelog" class="page-header">Changelog</h1>

    <p class="lead">
        <ul>
            <li>
                1.0.0 - Transition to typescript. Wrap arguments change.
            </li>
            <li>
                0.3.1 - Fix for version in package.json.
            </li>
            <li>
                0.3.0 - Fix for version according to semver. Fixes for package.json.
            </li>
            <li>
                0.2.1 - Ability to pass reference id with directory name attribute.
            </li>
            <li>
                0.2.0 - Glowl-like API and documentation.
            </li>
        </ul>
    </p>
</section>
