<button class="btn btn-primary" ng-click="showOverlay('first-in-name')">Show overlay first</button>
<button class="btn btn-primary" ng-click="hideOverlay('first-in-name')">Hide overlay first</button>
<button class="btn btn-primary" ng-click="showOverlay('second-in-name')">Show overlay second</button>
<button class="btn btn-primary" ng-click="hideOverlay('second-in-name')">Hide overlay second</button>

<div
    class="well well-lg bs-loading-container"
    bs-loading-overlay="first-in-name"
>
    Some content here
</div>

<div
    class="well well-lg bs-loading-container"
    bs-loading-overlay="second-in-name"
>
    Some content here
</div>
