{% capture html_path %}examples/{{include.id}}/{{include.id}}.html{% endcapture %}
{% capture module_path %}examples/{{include.id}}/{{include.id}}.module.js{% endcapture %}
{% capture controller_path %}examples/{{include.id}}/{{include.id}}.controller.js{% endcapture %}
{% capture module_name %}app-{{include.id}}{% endcapture %}
{% capture controller_name %}{{include.id | camelize}}Controller{% endcapture %}

<div class="{{module_name}}">
  <div ng-controller="{{controller_name}}">
    {% include {{html_path}} %}
    <tabset>
      <tab heading="Controller">
        {% capture controller_code %}
        {% include {{controller_path}} controller_name=controller_name %}
        {% endcapture %}
        <pre><code class="language-javascript line-numbers">{{ controller_code | escape }}</code></pre>
      </tab>
      <tab heading="HTML">
          {% capture html_code %}
          <div ng-app="app-{{include.id}}">
            <div ng-controller="{{controller_name}}">


{% include {{html_path}} %}

            </div>
          </div>
          {% endcapture %}
          <pre><code class="language-markup line-numbers">{{ html_code | format_html | escape }}</code></pre>
      </tab>
      <tab heading="Module">
        {% capture module_code %}
        {% include {{module_path}} module_name=module_name %}
        {% endcapture %}
        <pre><code class="language-javascript line-numbers">{{ module_code | escape }}</code></pre>
      </tab>
    </tabset>
  </div>
</div>

<script>
    (function() {
        {% include {{module_path}} module_name=module_name %}
        {% include {{controller_path}} controller_name=controller_name %}
        angular.bootstrap(document.querySelector(".{{module_name}}"), ['{{module_name}}']);
    })()
</script>
